<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HouseHoldManagement_Kundani.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HouseHoldManagement_Kundani.My.MySettings.HMSConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Murangi\Source\Repos\maurice67530\HouseholdManagementSystems\HMS.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HouseHoldManagement_Kundani.My.MySettings>
            <setting name="Smtpserver" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RecipientEmail" serializeAs="String">
                <value />
            </setting>
        </HouseHoldManagement_Kundani.My.MySettings>
    </userSettings>
</configuration>